@model ClienteModel
@{
    ViewData["Title"] = "Confirmação de apagar o cliente";
}

<div class="text-center">
    <h3>Deseja apagar o cliente (@Model.Nome)?</h3>
</div>

<a class="btn btn-primary btn-block" asp-action="Index" asp-controller="Cliente" role="button">Cancelar</a>
<a class="btn btn-danger btn-block" asp-action="Apagar" asp-controller="Cliente" asp-route-id="@Model.Id" role="button">Confirmar</a>